.container {
  margin: 0 auto;
  padding: 0 18px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.grid {
  margin-left: -30px; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

[class*="span"],
[class*="group"] > * {
  margin-left: 30px; }

.at4-show, .at6-show, .at8-show, .at12-show {
  display: none; }

@media only screen and (min-width: 406px) {
  .container {
    width: 370px; }

  .span1,
  .group1 > *,
  .at4-span1,
  .at4-span1-group > *, .span2,
  .group2 > *,
  .at4-span2,
  .at4-span2-group > *, .span3,
  .group3 > *,
  .at4-span3,
  .at4-span3-group > * {
    display: inline-block; }

  .span1,
  .group1 > *,
  .at4-span1,
  .at4-span1-group > * {
    width: 70px; }

  .span2,
  .group2 > *,
  .at4-span2,
  .at4-span2-group > * {
    width: 170px; }

  .span3,
  .group3 > *,
  .at4-span3,
  .at4-span3-group > * {
    width: 270px; }

  .at4-offset0 {
    margin-left: 30px; }

  .offset1, .at4-offset1 {
    margin-left: 130px; }

  .offset2, .at4-offset2 {
    margin-left: 230px; }

  .offset3, .at4-offset3 {
    margin-left: 330px; }

  .at4-show {
    display: block; }

  .at4-hide {
    display: none; } }
@media only screen and (min-width: 606px) {
  .container {
    width: 570px; }

  .at6-span1,
  .at6-group1 > *, .at6-span2,
  .at6-group2 > *, .at6-span3,
  .at6-group3 > *, .span4,
  .group4 > *,
  .at6-span4,
  .at6-span4-group > *, .span5,
  .group5 > *,
  .at6-span5,
  .at6-span5-group > * {
    display: inline-block; }

  .at6-span1,
  .at6-group1 > * {
    width: 70px; }

  .at6-span2,
  .at6-group2 > * {
    width: 170px; }

  .at6-span3,
  .at6-group3 > * {
    width: 270px; }

  .span4,
  .group4 > *,
  .at6-span4,
  .at6-span4-group > * {
    width: 370px; }

  .span5,
  .group5 > *,
  .at6-span5,
  .at6-span5-group > * {
    width: 470px; }

  .at6-offset0 {
    margin-left: 30px; }

  .at6-offset1 {
    margin-left: 130px; }

  .at6-offset2 {
    margin-left: 230px; }

  .at6-offset3 {
    margin-left: 330px; }

  .offset4, .at6-offset4 {
    margin-left: 430px; }

  .offset5, .at6-offset5 {
    margin-left: 530px; }

  .at6-show {
    display: block; }

  .at6-hide {
    display: none; } }
@media only screen and (min-width: 806px) {
  .container {
    width: 770px; }

  .at8-span1,
  .at8-group1 > *, .at8-span2,
  .at8-group2 > *, .at8-span3,
  .at8-group3 > *, .at8-span4,
  .at8-group4 > *, .at8-span5,
  .at8-group5 > *, .span6,
  .group6 > *,
  .at8-span6,
  .at8-span6-group > *, .span7,
  .group7 > *,
  .at8-span7,
  .at8-span7-group > * {
    display: inline-block; }

  .at8-span1,
  .at8-group1 > * {
    width: 70px; }

  .at8-span2,
  .at8-group2 > * {
    width: 170px; }

  .at8-span3,
  .at8-group3 > * {
    width: 270px; }

  .at8-span4,
  .at8-group4 > * {
    width: 370px; }

  .at8-span5,
  .at8-group5 > * {
    width: 470px; }

  .span6,
  .group6 > *,
  .at8-span6,
  .at8-span6-group > * {
    width: 570px; }

  .span7,
  .group7 > *,
  .at8-span7,
  .at8-span7-group > * {
    width: 670px; }

  .at8-offset0 {
    margin-left: 30px; }

  .at8-offset1 {
    margin-left: 130px; }

  .at8-offset2 {
    margin-left: 230px; }

  .at8-offset3 {
    margin-left: 330px; }

  .at8-offset4 {
    margin-left: 430px; }

  .at8-offset5 {
    margin-left: 530px; }

  .offset6, .at8-offset6 {
    margin-left: 630px; }

  .offset7, .at8-offset7 {
    margin-left: 730px; }

  .at8-show {
    display: block; }

  .at8-hide {
    display: none; } }
@media only screen and (min-width: 1206px) {
  .container {
    width: 1170px; }

  .at12-span1,
  .at12-group1 > *, .at12-span2,
  .at12-group2 > *, .at12-span3,
  .at12-group3 > *, .at12-span4,
  .at12-group4 > *, .at12-span5,
  .at12-group5 > *, .at12-span6,
  .at12-group6 > *, .at12-span7,
  .at12-group7 > *, .span8,
  .group8 > *,
  .at12-span8,
  .at12-span8-group > *, .span9,
  .group9 > *,
  .at12-span9,
  .at12-span9-group > *, .span10,
  .group10 > *,
  .at12-span10,
  .at12-span10-group > *, .span11,
  .group11 > *,
  .at12-span11,
  .at12-span11-group > * {
    display: inline-block; }

  .at12-span1,
  .at12-group1 > * {
    width: 70px; }

  .at12-span2,
  .at12-group2 > * {
    width: 170px; }

  .at12-span3,
  .at12-group3 > * {
    width: 270px; }

  .at12-span4,
  .at12-group4 > * {
    width: 370px; }

  .at12-span5,
  .at12-group5 > * {
    width: 470px; }

  .at12-span6,
  .at12-group6 > * {
    width: 570px; }

  .at12-span7,
  .at12-group7 > * {
    width: 670px; }

  .span8,
  .group8 > *,
  .at12-span8,
  .at12-span8-group > * {
    width: 770px; }

  .span9,
  .group9 > *,
  .at12-span9,
  .at12-span9-group > * {
    width: 870px; }

  .span10,
  .group10 > *,
  .at12-span10,
  .at12-span10-group > * {
    width: 970px; }

  .span11,
  .group11 > *,
  .at12-span11,
  .at12-span11-group > * {
    width: 1070px; }

  .at12-offset0 {
    margin-left: 30px; }

  .at12-offset1 {
    margin-left: 130px; }

  .at12-offset2 {
    margin-left: 230px; }

  .at12-offset3 {
    margin-left: 330px; }

  .at12-offset4 {
    margin-left: 430px; }

  .at12-offset5 {
    margin-left: 530px; }

  .at12-offset6 {
    margin-left: 630px; }

  .at12-offset7 {
    margin-left: 730px; }

  .offset8, .at12-offset8 {
    margin-left: 830px; }

  .offset9, .at12-offset9 {
    margin-left: 930px; }

  .offset10, .at12-offset10 {
    margin-left: 1030px; }

  .offset11, .at12-offset11 {
    margin-left: 1130px; }

  .at12-show {
    display: block; }

  .at12-hide {
    display: none; } }
.container {
  background-image: -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -webkit-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%);
  background-image: -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -moz-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%);
  background-image: -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), -o-linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%);
  background-image: linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #e9e9e9 1%, #e9e9e9 100%), linear-gradient(left, #aaaaaa 1%, #aaaaaa 100%);
  -webkit-background-size: 1px 1px;
  -moz-background-size: 1px 1px;
  -o-background-size: 1px 1px;
  background-size: 1px 1px;
  background-position: 17px 0, 88px 0, 117px 0, 188px 0, 217px 0, 288px 0, 317px 0, 388px 0, 417px 0, 488px 0, 517px 0, 588px 0, 617px 0, 688px 0, 717px 0, 788px 0, 817px 0, 888px 0, 917px 0, 988px 0, 1017px 0, 1088px 0, 1117px 0, 1188px 0;
  background-repeat: repeat-y; }

.container.no-stripes {
  background-image: none; }

[class*="span"],
[class*="group"] > * {
  background: red;
  margin-bottom: 10px; }
